*{
    margin: 0px;
    padding: 0px;
}
.container{
    width: 1150px;
    height: 3578px;
    border: 1px solid white;
    margin: 0 auto;
    margin-top: 10px;
    box-shadow: 0px 5px 10px 10px grey;
}
.hidder{
    width: 1150px;
    height: 1635px;
    border: 1px solid #283F44;
    margin: 0 auto;
    background: #283F44;
    margin-left: -1px;
    margin-top: -1px;
}
.row{
    margin: auto;
    width: 950px;
}
.arch{
    font-size: 35px;
    font-family: 'Arial';
    margin-top: 55px;
    color: white;
}
ul{
    list-style: none;
    margin-left: 230px;
}

li{
    float: left;
    font-size: 20px;
    margin-top:68px;
}
a{
    color: white;
    text-decoration: none;
    font-family: "Arial";
}
.line{
    height: 35px;
    border-right: 3px solid white;
    margin-top: 61px;
    margin-left: 47px;
}
.blog{
    font-size: 20px;
    margin-top: 68px;
    color: white;
    margin-left: 47px;
    font-family: 'Arial';
}
.contact{
    width: 148px;
    height: 45px;
    border-radius: 5px;
    border: 1px solid white;
    background-color: white;
    margin-top: 55px;
    margin-left: 50px;
}
.contact_us{
    text-align: center;
    font-size: 16px;
    color: #283F44;
    margin-top: 14px;
    font-family: "Arial";
    font-weight: bold;
}
.highly{
    font-size: 31px;
    color: white;
    font-family: 'Arial';
    text-align: center;
    margin-top: 51px;
}
.scan{
    margin-top: 53px;
    width: 945px;
    height: 560px;
    transition: all 3s;

}
.underline{
    width: 943.5px;
    height: 1px;
    border: 1px solid #A4A4A4;
    background-color: #A4A4A4;
    margin-top: 40px;
}
.scan_design{
    font-size: 28px;
    font-family: "Arial";
    margin-top: 20px;
    color: white;
}
.brutalism_design{
    font-size: 28px;
    font-family: "Arial";
    margin-top: 20px;
    color: white;
    margin-left: 132px;
}
.industrial_design{
    font-size: 28px;
    font-family: "Arial";
    margin-top: 20px;
    color: white;
    margin-left: 145px;
}
#underline_line{
    width: 318px;
    border: 1px solid white;
    background-color: white;
    transition: all 1s;

}

.premium{
    font-size: 11px;
    font-family: "Arial";
    color: rgb(180, 180, 180);
    margin-top: 16px;
}
.premium_modem{
    font-size: 11px;
    font-family: "Arial";
    color: rgb(180, 180, 180);
    margin-top: 16px;
    text-align: center;
    margin-left: 137px;
}
.premium_modem2{
    font-size: 11px;
    font-family: "Arial";
    color: rgb(180, 180, 180);
    margin-top: 16px;
    margin-left: 124px;
}
.we_always{
    font-size: 38px;
    color: white;
    font-family: "Arial";
    font-weight: bold;
    margin-top: 115px;
}
.contrary{
    font-size: 25px;
    font-family: "Arial";
    color: rgb(214, 214, 214);
    margin-left: 180px;
    margin-top: -300px;
    line-height: 45px;
}
.your{
    margin-top: 30px;
margin-left: -13px;
font-size: 15px;
color: white;
font-weight: bold;
font-family: "Arial";
letter-spacing: 0.5px;
}
.finish{
margin-top: 30px;
margin-left: 95px;
font-size: 15px;
color: white;
font-family: "Arial";
letter-spacing: 0.5px;
font-weight: bold;
}
.ten_five{
    font-size: 70px;
    font-weight: bold;
    font-family: "Arial";
    color: white;
    margin-top: 15px;

}
.ten_five2{
    font-size: 70px;
    font-weight: bold;
    font-family: "Arial";
    color: white;
    margin-top: 15px;
    margin-left: 20px;

}
.five_zero{
    font-size: 70px;
    font-weight: bold;
    font-family: "Arial";
    color: white;
    margin-left:121px;
    margin-top: 15px;
}
.five_zero2{
    font-size: 70px;
    font-weight: bold;
    font-family: "Arial";
    color: white;
    margin-left:136px;
    margin-top: 15px;
}
.plus{
    color: white;
    font-size: 70px;
    font-weight: bold;
    margin-left: 5px;
    margin-top: 12px;
}
.awards{
    margin-top: 55px;
margin-left: -13px;
font-size: 15px;
color: white;
font-weight: bold;
font-family: "Arial";
letter-spacing: 0.5px;
}
.client{
margin-top: 55px;
margin-left: 95px;
font-size: 15px;
color: white;
font-family: "Arial";
letter-spacing: 0.5px;
font-weight: bold;
}
.our{
    font-size: 42px;
    font-weight: bold;
    font-family: "Arial";
    margin-top: 80px;
}
.view_portfolio{
    font-size: 28px;
    margin-top: 20px;
    font-family: "Arial";
    font-weight: bold;
    color: #00D1FF;
}
.zwole_img{
    margin-left: -23px;
    margin-top: 50px;
}
.zwolle_modern{
    font-size: 25px;
    font-family: "Arial";
}
.blue_and{
    font-size: 15px;
    font-family: "Arial";
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.63);
}
.all{
    margin-left: 555px;
    position: absolute;
margin-top: 85px;
}
.blue_text{
    font-size: 25px;
    margin-top: 25px;
    font-family: "Arial";
}
.concreate{
    font-size: 17px;
    margin-top: 10px;
    font-family: "Arial";
}
.all2{
    margin-left: 525px;
    position: absolute;
}
.footer{
    border: 1px solid #283F44;
    width: 1150px;
    height: 504px;
    margin-left: -1px;
    background: #283F44;
    margin-top: 96px;
}
.light{
    font-size: 38px;
    color: white;
    font-family: "Arial";
    margin-top: 50px;
}
.bulding{
    font-size: 18px;
    font-family: "Arial";
    color: rgb(194, 193, 193);
    margin-top: 15px;
}
.bulding2{
    font-size: 18px;
    font-family: "Arial";
    color: rgb(194, 193, 193);
    margin-top: 15px;
    margin-left: 158px;
}
.bulding3{
    font-size: 18px;
    font-family: "Arial";
    color: rgb(194, 193, 193);
    margin-top: 15px;
    margin-left: 175px;
}
.home3_img{
    margin-top: 40px;
}
.home4_img{
    margin-left: 109px;
}
.view{
    font-size: 15px;
    font-family: "Arial";
    color: #3FD7F9;
    margin-left: 530px;
    margin-top: 110px;
}
.blue_gray{
    font-size: 10px;
    margin-top: 5px;
    font-family: "Arial";
    color: rgb(194, 193, 193);

}
.blue_gray2{
    font-size: 10px;
    margin-top: 5px;
    font-family: "Arial";
    color: rgb(194, 193, 193);
margin-left: 161px;
}
.blue_gray3{
    font-size: 10px;
    margin-top: 5px;
    font-family: "Arial";
    color: rgb(194, 193, 193);
margin-left: 180px;
}
.line_2{
    width: 1150px;
    margin-left: -1px;
    border: 1px solid #00D1FF;
    margin-top: 30px;
}
.arch2{
    font-size: 20px;
    font-family: "Arial";
    color: white;
    margin-top:20px;
    margin-left: 150px;
}
.about_us{
    font-size: 15px;
    font-family: "Arial";
    margin-top: 25px;
    margin-left: 400px;
}
.about_us2{
    font-size: 15px;
    font-family: "Arial";
    margin-top: 25px;
    margin-left: 45px;
}
.about_us a{
    color: rgb(197, 195, 195);

}
.about_us2 a{
    color: rgb(197, 195, 195);

}